.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controlButton {
  appearance: none;
  background: var(--color-primary);
  border: 1px solid #c1c1c1;
  color: white;
  border-radius: 2rem;
  padding: 1rem;
  width: calc(50% - 0.5rem);
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.controlButton:hover {
  opacity: 0.9;
}
