@font-face {
  font-display: swap;
  font-family: "Lato-Bold";
  font-style: bold;
  font-weight: bold;
  src: url("./assets/fonts/lato-bold/lato-bold.woff2") format("woff2"),
    url("./assets/fonts/lato-bold/lato-bold.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/lato-regular/lato-regular.woff2") format("woff2"),
    url("./assets/fonts/lato-regular/lato-regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #56496e;
  --color-secondary: #ef5f71;
}
